html {
    background-color: rgb(238, 237, 235);
}

h1 {
    color: rgb(116, 114, 100);
    font-family: Georgia, 'Times New Roman', Times, serif;
      
}

h2 {
    color: rgb(224, 204, 190);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: rgb(60, 54, 51);
    font-style: oblique; 
    font-weight: light;
}

img{
    width: 500px ;
    height: 350px;
}

a {
    color: rgb(116, 114, 100);
    font-size: large;
}